html{
    padding: 2% 10%;
}
.leftUL{
    display: inline-block;
    margin-right: 5%;
}
.explord{
    color: black;
    text-transform: uppercase;   
}
.explord::before{
    content: url('img/bullet_blue.png');
    margin-right: 5px;
}
header p{
    display: inline-block;
}
nav{
    float: right;
   
}
nav a{
    text-transform: uppercase;
    color: black;
}
nav ul li{
    margin-left:30px;
    display: inline-block;
}

.sec-one{
    color: white;
    padding: 3%;
    background-image: url(img/block.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4% 0;
    border-radius: 7px;
}
h1{
    margin: 0.3% 0 1% 0;
}
h5{
    margin-bottom: 1%;
    font-weight: 400;
    width: 60%;
}
.button{
    display: block;
    background-image: linear-gradient(to right, rgb(255, 255, 255,0.2),#b6c9d6);
    border: 2px solid #5dc5de;
    color: #5dc5de;
    border-radius: 20px;
    width: 18%;
    height: 40px;
    padding: 9px;
    text-align: center;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
    text-transform: uppercase;
    font-size: 14px;
}
    
.button:hover{
    background-color: #5dc5de;
    background-image: linear-gradient(to right,#5dc5de, rgba(185, 185, 185, ));
    color: white;
}
.left-mom{
    padding: 2%;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 8px;
    width: 60%;
}
.left-mom h2{
    text-transform: capitalize;
    margin: 0 38% 4% 0;
    vertical-align: baseline;
}
#bullet{
    margin-right: 0;
    vertical-align: middle;
}
.left-mom h6{
    color: rgba(64,64,64,0.32);
    text-transform: uppercase;
}
.left-mom img{
    max-width: 176px;
    margin-right: 2%;
    border-radius: 5px;
}

.text{
    width: 70%;
    vertical-align: top;
}
.text h3{
    margin: 1% 0 3% 0;
}
.cont{
    margin-bottom: 8%;
}
.cont:last-child{
    margin-bottom: 0;
}
.right-mom{
    background-image: url(img/prom1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
    color: white;
    border-radius: 8px;
}
.right-mom h4, .right-mom p{
    color: rgba(240,240,240,0.72);
}
.right-mom h4{
    text-transform: uppercase;
    margin-bottom: 4%;
}
.right-mom h2{
    margin-bottom: 3%;
}
.but{
    background-image: linear-gradient(to right, rgb(255, 255, 255,0.2),rgb(255, 255, 255,0.2));
    margin-top: 4%;
    width: 40%;
    border: none;
    color: white;
    padding: 12px;
}
aside{
    float: right;
    width: 37%;
}
.right-mom2 {
    box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
    height: 300px;
    padding: 5%;
    border-radius: 8px;
    margin-top: 10%;
}
.right-mom2 h2{
    text-transform: capitalize;
}
.right-mom2 p{
    color: rgb(122, 121, 121);
    margin: 6% 0 4% 0;
}

input{
    width: 100%;
    font-size: 16px;
    height: 40px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    padding: 3%;
    margin-bottom: 7%;
}
input:focus{
    border: 3px solid #5dc5de;
    color: rgba(190, 190, 190, 0.637);
}
.subs{
    width: 45%;
    background-image: linear-gradient(to right, rgb(255, 255, 255,0.2),rgb(255, 255, 255,0.2));
    padding: 11px;
}